body {
    background-color:#eee;
    background-size: 100%;
    margin:5% 15%;
    padding: 15px;
}



header img{
    margin-top:33px;
    margin-left:30px;
    position:relative;
    float: left;
    width: 18%;
    height: auto;
    border-radius: 50%;
}

header section {
    position: relative;
    float: left;
    margin-left: 10%;
    margin-bottom: 25px;
}

header h1>pre {
    font-size: 45px;
    color: darkblue;
    text-decoration: underline;
}
 header p {
    color: darkblue;
    font-size:40px;
    text-decoration: underline;
}

header hr {
    width: 100%;
}

nav {
    background-color: white;
    position:relative;
    float: left;
    width: 100%;
    height:60px;
    font-size:26px;
}

nav ul {
    margin-left: 50px;
    list-style-type: none;

}
nav ul li {
    position: relative;
    float: left;
    margin-right:40px;    
}

table {
    float: left;
    margin-top: 80px;
    margin-left: 50px;
    border-collapse: collapse;
    width: 40%;
    background-color: white ;
}

th {
    width: 166%;
    font-size: 30px;
    float: left;

}



th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px dashed #333;
}

.second{
    color: cornflowerblue;;
    font-family: 'Condiment', cursive;
}

#education {
    margin-top: 20px;

}

abbr {
    background-color: lawngreen;
}

.table2 {
    float:right;
    margin-right: 50px;
}

.table2 th {
    width: 201%;
}

.table2 a {
    text-decoration:none;
    color: cornflowerblue;
    font-family: 'Condiment', cursive;
}

.table2 img.icon{
    margin-left: 7px;
    width: 22px;
    height: 19px;
}

#address {
    margin-top: 20px;
}

.table2 img {

    width: 150px;
    height: 90px;
}
sup {
    text-decoration: underline;
    color: cornflowerblue;
}


#skills {
    float: left;
    margin-top: 40px;
    width: 100%;
    background-color: white;
}

#skills h1{
    text-align: center;
    font-size:30px;
    margin-top: 0;
}

.development {
    border: 1px solid black;
    position:relative;
    float:left;
    margin-left:20px;
    width:30%;
    display:block;

}

#skills h3{
    text-align:center;
    text-decoration:underline;
}

#skills p {
    float:left;
    margin-left:10px;
}

.line{
    float: left;
    display:inline-block;
    margin-top:-12px;
    margin-left:20px;
    margin-bottom:10px;
    border: 1px solid cornflowerblue;
    border-radius: 15px;
    width: 80%;
    height: 20px;
    background-color: white;
}

.s1 {
    background-color: cornflowerblue;
    width:70%;
    height: 20px;
    border-radius: 15px;
}

.s1::after{
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "70%";
    color: black;
}

.c {
    background-color: cornflowerblue;
    width:50%;
    height: 20px;
    border-radius:15px;
}
.c::after{
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "50%";
    color: black;
}

.computer {
     border: 1px inset black;
    position:relative;
    float: left;
    margin-left:25px;
    width:30%;
    display:block;
}

.ms {
    background-color:cornflowerblue;
    width: 60%;
    height: 20px;
    border-radius: 15px;
}

.ms::after{
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "60%";
    color: black;
}

.ps {
    background-color:cornflowerblue;
    width: 40%;
    height: 20px;
    border-radius: 15px;
}

.ps::after{
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "40%";
    color: black;
}

.lenguages {
    border: 1px inset black;
    position:relative;
    float: left;
    margin-left:25px;
    width:30%;
    display:block;
}

.native {
    background-color:cornflowerblue;
    width: 99%;
    height: 20px;
    border-radius: 15px;
}

.native::after {
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "native";
    color: black;
}
.intermediate {
    background-color:cornflowerblue;
    width: 99%;
    height: 20px;
    border-radius: 15px;
}

.intermediate::after {
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "intermediate";
    color: black;
}

.upper-intermediate {
    background-color:cornflowerblue;
    width: 70%;
    height: 20px;
    border-radius: 15px;
}

.upper-intermediate::after {
    float:right;
    font-style: oblique;
    font-weight: 800;
    content: "upper-intermediate";
    color: black;
}

#army {
    float: left;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    background-image: url(IMG/army.jpg);
    background-size: 100%;
    
}
#army h3{
    font-size:30px;
    color: white;
}

